@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

.clash-bg {
  background: url('C:\Users\honya\Documents\GitHub\Supercell-Hackaton-2025\frontend\public\background.svg') no-repeat center center fixed;
  background-size: cover;
}

.clash-border {
  border-color: #4a90e2;
}

html {
  font-size: 20px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}